*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.htmlGemfile.lock
tmp
log
Gemfile.lock
db/schema.rb
db/development.sqlite3
/export/
/export/*
