<div id="parameters">
  <% unless configuration.empty? -%>
  <table>
    <tbody>
      <tr>
        <th>Key</th>
        <th>Value</th>
      </tr>
      <% configuration.each_pair do |key,value| -%>
      <tr>
      	<td><%= key %></td>
      	<td><%= value %></td>
      </tr>
      <% end -%>
    </tbody>
  </table>
  <% else -%>
  <aside class="no-data indent">
    No data
  </aside>
  <% end -%>
</div>
