<% unless assoc.empty? -%>
  <table>
  	<col width="30%">
  	<col width="70%">
    <tr>
      <th>Name</th>
      <th>Defined In</th>
    </tr>
  <% assoc.each do |item| 
       id = item["id"]  -%>
    <tr>
      <td><%= link_to item["name"], polymorphic_path(item["type"].downcase, :id => item["name"]) %></td>
      <td>
      <% if item["source"].to_s == @object._id.to_s -%>
      	 <%= @object.name %>
      <% elsif ! assoc.source(id).nil?
           name = assoc.source(id).first[:name] 
           type = assoc.source(id).first[:type] -%>
      	 <%= link_to name, polymorphic_path(type.downcase.singularize, :id => name) %>
      	 <span class="source-type">(<%= type.singularize.camelize %>)</span>
      <% end -%>
      </td>
    </tr>
  <% end %>
  </table>
<% else %>
  <aside class="no-data indent">
     None assigned
  </aside>
<% end %>