
<style>
svg {
  font: 10px sans-serif;
}
</style>
<div class="box">
  <div class="column-left">
    <h3>Dependant on</h3>
    <div id="starburst-triggered">
    </div>
  </div>
  <div class="column-right">
    <h3>Dependants</h3>
  	<div id="starburst-triggers">
    </div>
  </div>
</div>