<div id="parameters" class="indent">
<%= render :partial => 'configuration/shared_partials/parameter_fields', 
           :collection => @object.parameters.select{ |a| a if a.parameters.nil? or a.parameters.empty? }, 
           :locals => { :form => "#{form_name}[parameters]" } %>
<div class="nested_parameters">
<%= render :partial => 'configuration/shared_partials/parameter_fields', 
           :collection => @object.parameters.select{ |a| a unless a.parameters.nil? or a.parameters.empty? }, 
           :locals => { :form => "#{form_name}[parameters]" } %>
</div>
<%= link_to_function "Add parameter", "", :class => "add_parameter", :field_name => "#{form_name}[parameters]" %>
</div>