<% hash.each_pair do |key, value| 
     unless value.is_a? Hash -%>
  <p class="parameter">
  	<span class="key"><%= key %></span> 
  	<span class="value"><%= value %></span>
  </p>
<%   end
   end 
   hash.each_pair do |key, value| 
    if value.is_a? Hash -%>
  <p class="parameter">
  	<span class="key"><%= key %></span>
  </p>
  <div class="indent">
  <%= render :partial => "configuration/shared_partials/hashed", :locals => { :hash => value } %>
  </div>
<%   end
   end -%>