<div class="column-left">
  <h1>Nodes</h1>
  <p class="indent"><%= f.text_field :node_tokens, "data-pre" => @object.nodes.local.map{ |a| { :id => a["id"], :name => a["name"] }}.to_json %></p>
  <h1>Roles</h1>
  <p class="indent"><%= f.text_field :role_tokens, "data-pre" => @object.roles.local.map{ |a| { :id => a["id"], :name => a["name"] }}.to_json %></p>
</div>
<div class="column-right">
  <h1>Services</h1>
  <p class="indent"><%= f.text_field :service_tokens, "data-pre" => @object.services.local.map{ |a| { :id => a["id"], :name => a["name"] }}.to_json %></p>
  <h1>Pools</h1>
  <p class="indent"><%= f.text_field :pool_tokens, "data-pre" => @object.pools.local.map{ |a| { :id => a["id"], :name => a["name"] }}.to_json %></p>
</div>