@font-face {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Bree Serif'), local('BreeSerif-Regular'), url(http://themes.googleusercontent.com/static/fonts/breeserif/v2/LQ7WLTaITDg4OSRuOZCps73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

@font-face {
  font-family: 'Tienne';
  font-style: normal;
  font-weight: 400;
  src: local('Tienne Regular'), local('Tienne-Regular'), url(http://themes.googleusercontent.com/static/fonts/tienne/v5/VXypd3k44URZYt2LYxU_4evvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

@font-face {
  font-family: 'Telex';
  font-style: normal;
  font-weight: 400;
  src: local('Telex-Regular'), url(http://themes.googleusercontent.com/static/fonts/telex/v1/jGZ4PgolKXEtn2OM186qHaCWcynf_cDxXwCLxiixG1c.woff) format('woff');
}